<div class="container">
  <header class="clearfix innerheader"> <a class="backbtn" href="#">Back</a>
    <h1>Customers</h1>
    <div class="col-md-2 col-sm-6 clearfix pull-right select_outer">
      <div class="select_date  pull-right" ng-controller="DatepickerDemoCtrl">
        <p class="input-group">
          <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" 
              date-disabled="disabled(date, mode)" ng-required="true"  show-button-bar="false"/>
        </p>
      </div>
    </div>
  </header>
  <div class="main_section_inner">
  	
    <div class="clearfix customer_section">
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
        </div>
        <div class="rect_img">
          <div class="img"></div>
          <p><b>math Noten</b></p>
           <p>12345</p>
            <p><a href="mailto:matt@gmail.com">matt@gmail.com</a></p>
          
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
        </div>
        <div class="rect_img">
          <div class="img"></div>
          <p><b>math Noten</b></p>
           <p>12345</p>
            <p><a href="mailto:matt@gmail.com">matt@gmail.com</a></p>
          
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
        </div>
        <div class="rect_img">
          <div class="img"></div>
          <p><b>math Noten</b></p>
           <p>12345</p>
            <p><a href="mailto:matt@gmail.com">matt@gmail.com</a></p>
          
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
        </div>
        <div class="rect_img">
          <div class="img"></div>
          <p><b>math Noten</b></p>
           <p>12345</p>
            <p><a href="mailto:matt@gmail.com">matt@gmail.com</a></p>
          
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
        </div>
        <div class="rect_img">
          <div class="img"></div>
          <p><b>math Noten</b></p>
           <p>12345</p>
            <p><a href="mailto:matt@gmail.com">matt@gmail.com</a></p>
          
        </div>
      </div>
      
      
    </div>
  </div>
</div>
