<div class="container">
  <header class="clearfix innerheader"> <a class="backbtn" href="#">Back</a>
    <h1>Inventory</h1>
    <div class="col-md-2 col-sm-6 clearfix pull-right select_outer">
      <div class="select_date  pull-right" ng-controller="DatepickerDemoCtrl">
        <p class="input-group">
          <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" 
              date-disabled="disabled(date, mode)" ng-required="true"  show-button-bar="false"/>
        </p>
      </div>
    </div>
  </header>
  <div class="main_section_inner">
  <div class="clearfix">
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      <div class="inventory_block">
      	<div class="inventory_image">
        	<span><img src="images/inv_noimg.jpg" alt=""></span>
        </div>
        <div class="inventory_btm clearfix">
        	<div class="col-md-6 col-sm-6 pad_l_0">
            	<p>Make</p>
                <p>Year Modal</p>
                <p>Type</p>
            </div>
            <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            	<p>Price</p>
            </div>
        </div>
      </div>
      
      
      
    </div>
  </div>
</div>
