<div class="container">
  <header class="clearfix innerheader"> <a class="backbtn" href="#">Back</a>
    <h1>Sales Rep</h1>
    <div class="col-md-2 col-sm-6 clearfix pull-right select_outer">
      <div class="select_date  pull-right" ng-controller="DatepickerDemoCtrl">
        <p class="input-group">
          <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" 
              date-disabled="disabled(date, mode)" ng-required="true"  show-button-bar="false"/>
        </p>
      </div>
    </div>
  </header>
  <div class="main_section_inner">
  	<div class="clearfix">
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <p>56 <span>Ups</span></p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <p>14 <span>Sold</span></p>
          </div>
        </div>
        <div class="circle_img">
          <div class="img"></div>
          <p>Ty mathen</p>
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <p>56 <span>Ups</span></p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <p>14 <span>Sold</span></p>
          </div>
        </div>
        <div class="circle_img">
          <div class="img"></div>
          <p>Ty mathen</p>
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <p>56 <span>Ups</span></p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <p>14 <span>Sold</span></p>
          </div>
        </div>
        <div class="circle_img">
          <div class="img"></div>
          <p>Ty mathen</p>
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <p>56 <span>Ups</span></p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <p>14 <span>Sold</span></p>
          </div>
        </div>
        <div class="circle_img">
          <div class="img"></div>
          <p>Ty mathen</p>
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <p>56 <span>Ups</span></p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <p>14 <span>Sold</span></p>
          </div>
        </div>
        <div class="circle_img">
          <div class="img"></div>
          <p>Ty mathen</p>
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <p>56 <span>Ups</span></p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <p>14 <span>Sold</span></p>
          </div>
        </div>
        <div class="circle_img">
          <div class="img"></div>
          <p>Ty mathen</p>
        </div>
      </div>
      <div class="inventory_block sales_block">
        <div class="inventory_image"> </div>
        <div class="inventory_btm clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <p>56 <span>Ups</span></p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <p>14 <span>Sold</span></p>
          </div>
        </div>
        <div class="circle_img">
          <div class="img"></div>
          <p>Ty mathen</p>
        </div>
      </div>
    </div>
  </div>
</div>
