<div class="container">
  <header class="clearfix innerheader"> <a class="backbtn" href="#">Back</a>
    <h1>Trades</h1>
    <div class="col-md-2 col-sm-6 clearfix pull-right select_outer">
      <div class="select_date  pull-right" ng-controller="DatepickerDemoCtrl">
        <p class="input-group">
          <input ng-click="open($event)" type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" 
              date-disabled="disabled(date, mode)" ng-required="true"  show-button-bar="false"/>
        </p>
      </div>
    </div>
  </header>
  <div class="main_section_inner">
  	<div class="clearfix trade_section">
      <div class="trade_block">
        <div class="trade_heading clearfix">
          <div class="col-md-6 col-sm-6  pad_l_0">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
        </div>
        <ul>
          <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
          <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
           <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
            <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
             <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
              <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
               <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                 <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
        </ul>
      </div>
      <div class="trade_block">
        <div class="trade_heading clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
        </div>
        <ul>
          <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
          <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
           <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
            <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
             <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
              <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
               <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                 <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
        </ul>
      </div>
      <div class="trade_block">
        <div class="trade_heading clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
        </div>
        <ul>
          <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
          <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
           <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
            <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
             <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
              <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
               <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                 <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
        </ul>
      </div>
      <div class="trade_block">
        <div class="trade_heading clearfix">
          <div class="col-md-6 col-sm-6 pad_l_0">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
          <div class="col-md-6 col-sm-6 pad_r_0 text-right">
            <h3>2006 kia Optima</h3>
            <p>12500 miles <br>
              VIN:KNDMC5C12345 </p>
          </div>
        </div>
        <ul>
         <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
          <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
           <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
            <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
             <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
              <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
               <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
                 <li><div class="trade_img"><img src="images/inv_noimg.jpg" alt=""></div></li>
        </ul>
      </div>
    </div>
  </div>
</div>
